<div>{% extends 'sidebar.html' %}</div>
{% block title %}Device{% endblock%}
{%block content%}


<div class="wrapper2" >
    
    {% for lists in items %}
    <div class="box">
        <div><br>
            <img src="/static/img/device.svg" class="img"></div>
            <div><br>
            <span><b style="color:#707070;">{{lists.device_nm}}<b></span><br><br>
                <span><b style="color:#707070;">{{lists.device_id}}<b></span>
            </div>
    </div>{% endfor %}
    <ul id="menu">
      <li class="menu-item">Action 1</li>
      <li class="menu-item">Action 2</li>
      <li class="menu-item">Action 3</li>
      <li class="menu-item">Action 4</li>
    </ul>
    
    <div id="out-click"></div>
</div>
      <style>
        
          .box {
            transition: box-shadow .3s;
            width: 25%;
            height: 20%;
            margin: 50px;
            border-radius:10px;
            border: 1px solid #ccc;
            background: #fff;
            float: left;
            display:flex;
            
          }
          .box:hover {
            box-shadow: 0 0 11px rgba(33,33,33,.2); 
          }

          .box .img{
            height:60%;
            flex-basis: 60%;
            padding:10px;
          }
          

</style>
<div id="clickable"></div>
<ul id="menu">
  <li class="menu-item">Action 1</li>
  <li class="menu-item">Action 2</li>
  <li class="menu-item">Action 3</li>
  <li class="menu-item">Action 4</li>
</ul>

<div id="out-click"></div>

<script>
  const clickable = document.getElementById('clickable')
const menu = document.getElementById('menu')
const outClick = document.getElementById('out-click')

clickable.addEventListener('contextmenu', e => {
e.preventDefault()

menu.style.top = `${e.clientY}px`
menu.style.left = `${e.clientX}px`
menu.classList.add('show')

outClick.style.display = "block"
})

outClick.addEventListener('click', () => {
menu.classList.remove('show')
outClick.style.display = "none"
})
</script>

<style>

  #clickable {
    display: block;
    background-color: #efefef;
    height: 300px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 0px 5px 30px -10px grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: grey;
  }
  #menu {
    display: block;
    background-color: white;
    padding: 10px 0px;
    border-radius: 5px;
    box-shadow: 2px 2px 30px lightgrey;
    position: absolute;
    transform-origin: center;
    z-index: 2;
    opacity: 0;
    transform: scale(0);
    transition: transform 0.2s, opacity 0.2s;
    /* From https://css.glass */
  /* From https://css.glass */
      background: rgba(255, 255, 255, 0.07);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(2.8px);
      -webkit-backdrop-filter: blur(2.8px);
      border: 1px solid rgba(255, 255, 255, 0.3);
      }
  
  #menu.show {
    opacity: 1;
    transform: scale(1);
    transform-origin: top left;
  }
  
  .menu-item {
    display: block;
    padding: 10px 30px;
    transition: 0.1s;
    color: #666;
  }
  
  .menu-item:hover {
    background-color: rgb(0, 0, 0);
    cursor: pointer;
  }
  
  #out-click {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
  }
</style>
      {%endblock%}
</div>
