<!DOCTYPE html>
  <!-- Coding by CodingLab | www.codinglabweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <script src="js\javascript.js"></script>
    <link rel="stylesheet" href="static\css\style.css">
    
    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    
    <!--<title>Dashboard Sidebar Menu</title>--> 
</head>
<body>
    
    <header>
        <div class="topnav "> 
            <center>
        <a href="#" target="_blank">AQOZONE</a></center>
    
        </div>
        
    </header>


    <nav class="sidebar close">
        
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="/static/img/avt.svg" alt="">
                </span>
    
                <div class="text logo-text">
                    
                    <span class="fix">{{name}}</span>  
                </div>
            </div>
    
            <i class='bx bx-chevrons-right toggle'></i>
        </header>
    
        <div class="menu-bar">
            <div class="menu">
    
                
    
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="{{url_for('home')}}">
                            <i class='bx bx-home-alt icon' ></i>
                            <span class="text nav-text">Home</span>
                        </a>
                    </li>
    
                    <li class="nav-link">
                        <a href="{{url_for('list')}}">
                            <i class='bx bx-list-ul icon' ></i>
                            <span class="text nav-text">Item List</span>
                        </a>
                    </li>
    
                    <li class="nav-link">
                        <a href="{{url_for('device')}}">
                            <i class='bx bx-devices icon' ></i>
                            <span class="text nav-text">Devices</span>
                        </a>
                    </li>
    
                    <li class="nav-link">
                        <a href="{{url_for('Notifications')}}">
                            <i class='bx bx-bell icon'></i>
                            <span class="text nav-text">Notifications</span>
                        </a>
                    </li>
    
                    
    
                    <li class="nav-link">
                        <a href="{{url_for('Help')}}">
                            <i class='bx bx-help-circle icon' ></i>
                            <span class="text nav-text">Help</span>
                        </a>
                    </li>
    
                    
    
                </ul>
            </div>
    
            <div class="bottom-content">
                <li class="">
                    <a href="{{ url_for('logout') }}">
                        <i class='bx bx-log-out icon' ></i>
                        <span href="{{ url_for('logout') }}" class="text nav-text" >Logout</span>
                    </a>
                </li>
    
                
                
            </div>
        </div>
    
    </nav>

    
    



   
    <div class="tpnb"></div>
        
    {%block content%}{%endblock%}
        
    <script>
        const body = document.querySelector('body'),
      sidebar = body.querySelector('nav'),
      toggle = body.querySelector(".toggle"),
      searchBtn = body.querySelector(".search-box"),
      modeSwitch = body.querySelector(".toggle-switch"),
      modeText = body.querySelector(".mode-text");


toggle.addEventListener("click" , () =>{
    sidebar.classList.toggle("close");
})

searchBtn.addEventListener("click" , () =>{
    sidebar.classList.remove("close");
})




    </script>

</body>
</html>
